.button {
  font-size: rem(16);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  border: em(1, 16) solid $white;
  color: $white;
  border-radius: 5px;
  text-align: center;
  padding: em(5, 16) em(10, 16);
  animation: pulse 1.5s ease infinite;
  transition: all 0.4s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			animation: pulseStop 0.4s ease 1 forwards;
		}
	}
	
	
	
  @media (max-width: $mobile) {
		animation: pulseBlack 1.5s ease infinite;
    color: $mainColor;
    font-size: rem(14);
    border: em(1, 14) solid $mainColor;
		@media (any-hover: hover) {
			&:hover {
				animation: pulseStopBlack 0.4s ease 1 forwards;
			}
		}
  }

  @media (max-width: $mobileSmall) {
    font-size: rem(12);
  }




  .popup-show & {
    animation-play-state: paused;
  }

	.popup__form &, .message & {
    animation: pulseBlack 1.5s ease infinite;
    color: $mainColor;
    border: em(1, 14) solid $mainColor;
		@media (any-hover: hover) {
			&:hover {
				animation-play-state: paused;
				opacity: 0.5;
			}
		}
  }

	&.button-up__btn {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: 100px;
    right: 15px;
    width: 50px;
    height: 45px;
    background-color: rgba($grey1, $alpha: 0.8);
    border: 1px solid $white;
    box-shadow: 0 0 0px 0px rgba($color: $white, $alpha: 0.3);
    animation: none;
    transform: translate(0, -50%);
    transition: all 0.4s ease;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 35%;
      top: 33.33%;
      // top: 0;
      background-color: $white;
      transition: background-color 0.4s ease;
    }

    &:before {
      left: 50%;
      transform-origin: right top;
      transform: translate(-105%, 66.66%) rotateZ(-35deg);
    }
    &::after {
      right: 50%;
      transform-origin: left top;
      transform: translate(105%, 66.66%) rotateZ(35deg);
    }

    @media (max-width: $mobileSmall) {
      right: 10px;
      bottom: 80px;
    }
    &.active {
      visibility: visible;
      pointer-events: all;
      touch-action: auto;
      opacity: 1;
      transform: translate(0, 0);
    }

    .popup-show & {
      visibility: hidden;
      pointer-events: none;
      touch-action: none;
      opacity: 0;
      transform: translate(50%, 0);
    }
    .menu-open & {
      visibility: hidden;
      pointer-events: none;
      touch-action: none;
      opacity: 0;
      transform: translate(50%, 0);
    }

    @media (any-hover: hover) {
      &:hover {
        border: 1px solid $mainColor;

        &:before,
        &:after {
          background-color: $mainColor;
        }
      }
    }
  }
}

@keyframes pulseBlack {
  0% {
    box-shadow: 0 0 0px 0px rgba($color: $mainColor, $alpha: 0.3);
  }
  100% {
    box-shadow: 0 0 10px 10px rgba($color: $mainColor, $alpha: 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0px 0px rgba($color: $white, $alpha: 0.3);
  }
  100% {
    box-shadow: 0 0 20px 20px rgba($color: $white, $alpha: 0);
  }
}
@keyframes pulseStop {
  0% {
    box-shadow: 0 0 0px 0px rgba($color: $white, $alpha: 0);
  }
  100% {
    box-shadow: 0 0 5px 5px rgba($color: $white, $alpha: 0.3);
  }
}
@keyframes pulseStopBlack {
  0% {
    box-shadow: 0 0 0px 0px rgba($color: $mainColor, $alpha: 0);
  }
  100% {
    box-shadow: 0 0 3px 3px rgba($color: $mainColor, $alpha: 0.3);
  }
}
