.checkbox {
  position: relative;
  &:not(:last-child) {
    // margin-bottom: em(5);
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + .checkbox__label:before {
    }
    &:focus + .checkbox__label {
      color: $mainColor;
    }
    &:checked + .checkbox__label span {
      opacity: 1;
    }
    ._form-error & + .checkbox__label {
      color: red;
    }
  }
  // .checkbox__label
  &__label {
    display: block;
    // @media (max-width: $mobileSmall) {
    // 	text-align: center;
    // }
    cursor: pointer;
    font-size: rem(11);
    display: flex;
    justify-content: center;
    // color: $grey1;
    gap: 5px;
    transition: opacity 0.4s ease 0s;
    opacity: 1;
    // text-align: left;
    @media (any-hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }
    & span:first-child {
      // flex: 1 0 10px;
      transition: opacity 0.4s ease 0s;
      opacity: 0;
    }
    & span:last-child {
      @media (max-width: $mobileSmall) {
        flex: 0 0 200px;
      }
    }
  }
  // .checkbox__text
  &__text {
  }
}

._icon-checkmark {
}
