//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input-form {
	@include adaptiveValue("font-size", 16, 14);
	font-weight: 500;
	background-color: $white;
	// border-radius: 0 !important;
	border-radius: 5px;
	width: 100%;
	display: block;
	line-height: math.div(40 , 16);
	padding: 0 15px;
	// border-bottom: 1px solid $grey1;
	border: 1px solid $grey1;
	// transition: border-bottom 0.3s ease 0s;
	transition: border 0.3s ease 0s;
	&::placeholder {
		font-weight: 400;
		color: $grey1;
	}
	&._form-focus {
		// border-bottom: 1px solid $mainColor;
		border: 1px solid $mainColor;
	}
	&._form-error {
		// border-bottom: 1px solid red;
		border: 1px solid red;
		&::placeholder {
			color: red;
		}
	}
}
textarea.input-form {
	line-height: math.div(18 , 16);
	min-height: 100px;
	resize: vertical;
	max-width: 100%;
}

