.button-up {
  position: fixed;
  z-index: 2;
  height: 100%;
  // min-height: 100%;
  width: 100%;
  pointer-events: none;
  touch-action: none;
  &__container {
    height: 100%;
    position: relative;
  }
}

//====================================================================================================

.parallax {
  height: 100lvh;
  // height: 100%;
  // min-height: 100%;

  &__bg {
    position: fixed;
    width: 100%;
    height: 100lvh;
    // height: 100%;
    top: 0;
    left: 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__body {
    position: fixed;
    width: 100%;
    // height: 100dvh;
    height: 100svh;
    top: 0;
    left: 0;
    // font-family: "Oswald";
    color: $white;
    // font-weight: 500;
    padding-top: calc($headerHeight + 15px);
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
    @media (max-width: $mobile) {
      padding-top: calc($headerHeightMobile + 10px);
      padding-bottom: 10px;

      align-items: end;
    }
    @media (max-width: $mobileSmall) {
      padding-top: calc($headerHeightMobileSmall + 10px);
      // padding-left: 10px;
      // padding-right: 10px;
    }
    @media (max-height: em(490)) {
      justify-content: start;
    }
  }

  &__content {
    // flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $mobile) {
    }
    @media (max-width: $mobileSmall) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__top {
    display: flex;
    gap: 15px;
    @media (max-width: $tablet) {
      gap: 0px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
    // flex: 1 1 auto;
    // align-self: center;
    // flex-direction: column;
    // justify-content: center;
  }

  &__bottom {
    align-self: end;
  }

  .tagline {
    font-size: rem(40);
    line-height: 1.5;
    font-family: "Oswald", sans-serif;
    // line-height: math.div(45, 36);
    // text-align: right;
    // &:not(:last-child) {
    //   margin-bottom: em(20, 36);
    // }
    // @media (max-width: $mobileSmall) {
    //   &:not(:last-child) {
    //     margin-bottom: em(30, 36);
    //   }
    //   text-align: center;
    // }

    @media (max-width: $tablet) {
      font-size: rem(32);
    }
    @media (max-width: em(550)) {
      font-size: rem(20);
    }

    &_1 {
      text-transform: uppercase;
      font-weight: 500;
      opacity: 0;
      transform: translate(-10%, 0px);
      transition: opacity 0.6s ease 0s, transform 0.6s ease 0s;

      span {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 0;
          bottom: 1px;
          left: 0;
          background-color: $white;
          transition: width 0.3s ease 3.3s;
        }
      }

      @media (max-width: $mobileSmall) {
        letter-spacing: -1.2px;
      }
      .loaded & {
        transform: translate(0px, 0px);
        opacity: 1;
        span:before {
          width: 100%;
        }
      }
    }
    &_2 {
      opacity: 0;
      transform: translate(10%, 0);
      transition: opacity 0.6s ease 2.7s, transform 0.6s ease 2.7s;
      .loaded & {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }
  &__list {
    padding-top: 15px;
    text-align: right;
    // margin: 0px 0px em(20) 0px;
    color: $mainColor;
    @media (max-width: $tablet) {
      padding-top: 10px;
      // margin: 0px 0px em(30) 0px;
      // text-align: center;
    }
    @media (max-width: $mobile) {
      color: $white;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @media (max-width: $mobileSmall) {
      font-weight: 500;
    }
  }
  &__item {
    // @include adaptiveValue("font-size", 25, 15);
    font-size: rem(18);
    line-height: 1.2;
    letter-spacing: -0.25px;

    &:not(:last-child) {
      // margin-bottom: em(5, 22);
      // margin-bottom: 5px;
    }
    @media (max-width: em(550)) {
      font-size: rem(16);
    }
    @media (max-width: $mobileSmall) {
      &:not(:last-child) {
        // margin-bottom: em(10, 22);
      }
    }
    opacity: 0;
    transform: translate(0, -10%);
    &_1 {
      transition: opacity 0.3s ease 0.6s, transform 0.3s ease 0.6s;
    }
    &_2 {
      transition: opacity 0.3s ease 0.9s, transform 0.3s ease 0.9s;
    }
    &_3 {
      transition: opacity 0.3s ease 1.2s, transform 0.3s ease 1.2s;
    }
    &_4 {
      transition: opacity 0.3s ease 1.5s, transform 0.3s ease 1.5s;
    }
    &_5 {
      transition: opacity 0.3s ease 1.8s, transform 0.3s ease 1.8s;
    }
    &_6 {
      transition: opacity 0.3s ease 2.1s, transform 0.3s ease 2.1s;
    }
    &_7 {
      transition: opacity 0.3s ease 2.4s, transform 0.3s ease 2.4s;
    }
    .loaded & {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  &__title {
    font-size: rem(40);
    text-transform: uppercase;
    // @include adaptiveValue("font-size", 50, 20);
    line-height: 1.5;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: $tablet) {
      font-size: rem(32);
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      text-align: right;
    }
    @media (max-width: em(550)) {
      font-size: rem(20);
    }

    @media (max-width: $mobileSmall) {
      padding-left: 10px;
      padding-right: 10px;
    }
    transform: translate(0px, 10%);
    opacity: 0;
    transition: opacity 0.6s ease 3.3s, transform 0.6s ease 3.3s;
    .loaded & {
      opacity: 1;
      transform: translate(0, 0);
    }

    // @include adaptiveValue("font-size", 55, 12);
    // padding-top: em(30, 55);
    // margin-bottom: em(40, 55);
    // flex: 1 1 auto;
    // flex: 0 1 200px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // span {
    //   transform: translate(0px, 10%);
    //   opacity: 0;
    //   transition:
    //     opacity 1.2s ease 3.8s,
    //     transform 1.2s ease 3.8s;
    //   .loaded & {
    //     opacity: 1;
    //     transform: translate(0, 0);
    //   }
    // }
  }
}

//========================================================================================================================================================

.content {
  // box-shadow: 0 -5px 25px 3px #000000c8;
  box-shadow: 0 -2px 100px -1px $mainColor;
  position: relative;
  // padding: 80px 0px;
  padding: 60px 0px;
  @media (max-width: $mobile) {
    padding: 40px 0px;
  }
  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__container {
    section:not(:last-child) {
      // margin-bottom: em(20, 36);
      margin-bottom: 40px;
      @media (max-width: $mobile) {
        margin-bottom: 20px;
      }
    }
  }

  &__body {
    position: relative;
    background-color: rgba(179, 179, 179, 0.836);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.546);
    // padding: 30px 0px 50px 0px;
    padding: 20px 30px 40px 30px;
    // border-radius: 30px;
    border-radius: 5px;

    @media (max-width: $mobile) {
      // border-radius: 0;
      padding: 15px 10px 30px 10px;
    }
  }

  &__title {
    margin: 0px 0px 20px 0px;
    @media (max-width: $mobile) {
      // margin: 0px 0px 20px 0px;
      margin: 0px 0px 15px 0px;
    }
  }

  &__info {
    // margin: 0px 0px 80px 0px;
    // margin: 0px 0px 30px 0px;
    @media (max-width: $mobileSmall) {
      // margin: 0px 0px 40px 0px;
      // margin: 0px 0px 20px 0px;
    }
  }
}
//========================================================================================================================================================
.info {
  position: relative;
  &__body {
  }
  &__title {
    // margin: 0px 0px em(30, 36) 0px;
    // margin: 0px 0px 30px 0px;
    // @media (max-width: $mobileSmall) {
    // 	margin: 0px 0px 20px 0px;
    // }
  }
}
.advantages {
  // padding: 15px 15px;
  // padding: 15px 15px;
  &__content {
    display: flex;
    align-items: center;
    min-height: 150px;
    @media (max-width: $tablet) {
      // min-height: 120px;
      // margin: 0px 0px 40px 0px;
      // margin: 0px 0px 20px 0px;
    }
    @media (max-width: $mobile) {
      // min-height: 110px;
    }
  }
}

.swiper-slide {
  // display: flex;
  // flex-direction: column;
  &__icon {
    text-align: center;
    // padding-bottom: 5px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    &::before {
      // @include adaptiveValue("font-size", 70, 30);
      font-size: rem(50);
      margin: 0px 0px 30px 0px;
      @media (max-width: $tablet) {
        // font-size: rem(55);
        margin: 0px 0px 20px 0px;
      }
      @media (max-width: $mobile) {
      }
    }
  }
  &__text {
    font-family: "Oswald", sans-serif;
    font-size: rem(20);
    text-align: center;
    padding-bottom: 5px;
    font-weight: 500;
    // height: 100%;
    // @include adaptiveValue("font-size", 27, 16);
    // @include adaptiveValue("font-size", 20, 16);
    // margin: 0px 0px 20px 0px;
  }
}

//========================================================================================================================================================

.work-stages {
  // position: relative;
  @media (max-width: $mobileSmall) {
  }
  &__body {
    // position: relative;
    // background-color: rgba(179, 179, 179, 0.836);
    // box-shadow: 0 0 25px rgba(0, 0, 0, 0.546);
    // padding: 30px 0px 50px 0px;
    // // border-radius: 30px;
    // border-radius: 5px;
    // @media (max-width: $mobileSmall) {
    //   padding: 15px 0px 30px 0px;
    //   border-radius: 0;
    // }
  }
  &__title {
    // margin: 0px 0px em(30, 36) 0px;
  }
}

//========================================================================================================================================================

.portfolio {
  position: relative;
  background-color: $white;
  // padding: 50px 0px;
  padding: 30px 0;
  @media (max-width: $mobile) {
    padding: 20px 0;
    // padding: 25px 0px;
    // padding: 20px;
  }
  &__title {
    // margin: 0px 0px em(30, 36) 0px;
    margin: 0px 0px 30px 0px;
    @media (max-width: $mobile) {
      // padding: 25px 0px;
      margin: 0px 0px 20px 0px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(240), 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    // gap: rem(30);
    gap: 15px;
    @media (max-width: $mobile) {
      gap: 10px;
    }
  }
}
.item-portfolio {
  display: grid;
  // grid-auto-flow: row;
  // grid-template: auto 1fr auto auto  / 1fr;
  grid-template: auto 1fr auto / 1fr;
  // row-gap: rem(15);
  row-gap: 10px;
  @media (max-width: $mobileSmall) {
  }
  &__image {
    box-shadow: 0 0 4px 0px $mainColor;
    // background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    // padding-bottom: 90%;
    padding-bottom: 85%;
    // border-radius: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    @media (max-width: $mobile) {
      // padding-bottom: 80%;
    }
    @media (max-width: $mobileSmall) {
      // border-radius: 0;
      // padding-bottom: 85%;
    }

    .touch & {
      box-shadow: none;
    }

    @media (any-hover: hover) {
      &:hover {
        .item-portfolio__link-ibg {
          transform: scale(1.05);
        }
        .item-portfolio__notation {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__notation {
    // font-size: rem(16);

    line-height: 1.2;
    // font-weight: 700;
    // letter-spacing: -1px;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    // transform: translateX(-0) translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease 0s;
  }
  &__link-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.4s ease 0s;
    // @media (any-hover: hover){
    // 	&:hover{
    // 		transform: scale(1.1);
    // 	}
    // }
  }
  @media (max-width: $mobile) {
    .touch & .item-portfolio__picture {
      display: none;
    }
  }

  &__touch-slider {
    // width: 100%;
    height: 100%;
    display: none;
    @media (max-width: $mobile) {
      .touch & {
        display: block;
      }
    }
  }
  &__title {
    font-size: rem(14);
    line-height: 1.2;
    font-weight: 600;
    text-align: left;
    @media (max-width: $mobileSmall) {
      padding: 0px 10px;
    }
    // letter-spacing: -0.5px;
  }
  &__text {
    font-size: rem(14);
    line-height: 1.2;
    @media (max-width: $mobileSmall) {
      padding: 0px 10px;
    }
    // padding: 0px 10px;
  }
  // &__link {
  //   margin: 0px 10px;
  //   max-width: rem(200);
  //   @media (max-width: $mobile) {
  //     max-width: 100%;
  //     display: none;
  //   }
  //   // @media (max-width:$mobileSmall){
  //   // }
  // }
}
